MultiLevelCachePoC.CacheCore/Service References/UpperTierCache/EngineMasterCache2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MultiLevelCachePoC.CacheContracts.EntityContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MultiLevelCachePoC.CacheContracts.EntityContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CacheableEntity">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CacheableEntity" nillable="true" type="tns:CacheableEntity" />
  <xs:complexType name="Engine">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CacheableEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Engine" nillable="true" type="tns:Engine" />
</xs:schema>